# APP 
APP_URI=http://localhost:3000
CALLBACK_URI=http://localhost:3001
PORT=3001

# SESSION SECRET
SECRET=CHANGEME

# GMAIL GEGEVENS VOOR EMAIL NOTIFICATIES
GMAIL_EMAIL=
GMAIL_PASSWORD=

# GOOGLE CLIENT ID EN SECRET VOOR OAUTH2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DB_PASSWORD=123465789
DB_USER=toodl
DB_NAME=toodl
DB_PORT=5432
DB_URL="postgresql://${DB_USER}:${DB_PASSWORD}@database:${DB_PORT}/${DB_NAME}"